.box{
    position: absolute;
    right: 0;
    height: 600px;
    width: 200px;
    border: 1px solid blue;
    background-color: white;
    z-index: 1000;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}


.Retngulo-32 {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 10%;
    display: inline-flex;
}

.data-type{
    margin: 1px 0 1px 1px;
    height: 40px;
    width: 40%;
    background-image: linear-gradient(80deg, #f4627c, #b539a8);
    background-color: #bf176b;
    color: white;
    float: left;
    transition: width .5s ;
    text-align: center;
    line-height: 40px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

.active{
    position: absolute;
    margin-left: -100%;
    width: 400px;
    height: 200px;
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
}

.matriz {
    position: absolute;
    margin-left: -350%;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
}

.list {
    position: absolute;
    margin-left: -350%;
    width: 576px;
    height: 200px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
}

.active > span:first-child{
    font-size: 20px;
}

.data-value{
    margin-left: 0;
    height: 40px;
    width: 40%;
    border: 1px solid #bf176b;
    transition: width .5s ;
    text-align: center;
    line-height: 40px;
    float: right;
}

.data-value p{
    display: none;
}


pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}